DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
JWT_SECRET="troque-esta-chave-em-producao"
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"

PEDRO_PASSWORD="WebDev@2026"
DANIEL_PASSWORD="WebDev@2026"
PABLO_PASSWORD="WebDev@2026"
SAMUEL_PASSWORD="WebDev@2026"
GUILHERME_PASSWORD="WebDev@2026"
